# Dépendances
/vendor/
/node_modules/

# Fichiers système
.DS_Store

# Environnement
#.env

# Logs / archives
*.log
*.zip

# Writable (cache, sessions, uploads temporaires)
/writable/

# Uploads (⚠️ données volumineuses / externes)
/uploads/
/public/uploads/
!/public/uploads/.gitkeep

# Optionnel : IDE
.vscode/
.idea/